# Relación entre arrestos de personas de distintas razas y la cantidad de arrestos por estado en EEUU, entre 2018 y 2020.

0. trabajo datos

In [1]:
import pandas as pd
import geopandas as gpd
import json
import warnings
warnings.filterwarnings('ignore')

In [2]:
# https://www.fbi.gov/services/cjis/ucr/publications : Dataframe (18, 19) * las del 2020 esta solo el dataframe por raza
# 29 Numero de arrestos por ofensa
# 43- 49 - 55 - 61 - 67 numero de arrestos por raza
# 69 numero de arrestos por estado sobre/bajo 18 años

import requests
import os
lista_anos = [2019,2018,2017]
lista_numeros_tablas = [29, '55a' ,69]

try:
    for ano in lista_anos:
        os.makedirs(f'Data_fbi_ucr/{ano}_datos')
        for num_tabla in lista_numeros_tablas:
            dls = f"https://ucr.fbi.gov/crime-in-the-u.s/{ano}/crime-in-the-u.s.-{ano}/tables/table-{num_tabla if num_tabla != '55a' else 55}/table-{num_tabla}.xls/output.xls"
            resp = requests.get(dls)
            
            with open(f'Data_fbi_ucr/{ano}_datos/tabla_{num_tabla}.xls', 'wb') as output:
                output.write(resp.content)
except FileExistsError:
    print('ya existen estos archivos')

ya existen estos archivos

In [3]:
tabla_55a_2019 =  pd.read_excel('Data_fbi_ucr/2019_datos/tabla_55a.xls')
tabla_55a_2019 = tabla_55a_2019.rename(columns=tabla_55a_2019.iloc[6]).iloc[7:].reset_index().drop(columns=['index'])
tabla_55a_2019.head()

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [4]:
tabla_55a_2018 =  pd.read_excel('Data_fbi_ucr/2018_datos/tabla_55a.xls')
tabla_55a_2018 = tabla_55a_2018.rename(columns=tabla_55a_2018.iloc[6]).iloc[7:].reset_index().drop(columns=['index'])
tabla_55a_2018.head()

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total,Hispanic\nor\nLatino,Not\nHispanic\nor Latino
0,TOTAL,1524774,1086539,400923,14369,18412,4531,100,71.3,26.3,0.9,1.2,0.3,1239300,220086,1019214,100,17.8,82.2
1,Murder and nonnegligent manslaughter,1755,952,780,6,14,3,100,54.2,44.4,0.3,0.8,0.2,1356,301,1055,100,22.2,77.8
2,Rape3,3710,2835,805,17,36,17,100,76.4,21.7,0.5,1,0.5,2978,731,2247,100,24.5,75.5
3,Robbery,9408,4226,5046,45,65,26,100,44.9,53.6,0.5,0.7,0.3,7898,1464,6434,100,18.5,81.5
4,Aggravated assault,56315,38833,16099,489,722,172,100,69,28.6,0.9,1.3,0.3,46236,10184,36052,100,22,78

In [5]:
# usar api fbi
# codigo de todas los estados : https://api.usa.gov/crime/fbi/sapi/api/states?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv&size=100
# arrestos en la region por raza: https://api.usa.gov/crime/fbi/sapi/api/arrest/states/CA/all/race/2020/2020?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv

In [4]:
# extraemos los codigos de todos los estados
key = '1jL8OaKHoKG21Thdsnx6ep5Zi9qaLidKUT4jIIyu'
url_codes = f'https://api.usa.gov/crime/fbi/sapi/api/states?API_KEY={key}&size=100'

r=requests.get(url_codes)
r.json()

{'results': [{'state_id': 1,
   'state_name': 'Alaska',
   'state_abbr': 'AK',
   'region_code': 4,
   'state_fips_code': 2},
  {'state_id': 2,
   'state_name': 'Alabama',
   'state_abbr': 'AL',
   'region_code': 3,
   'state_fips_code': 1},
  {'state_id': 3,
   'state_name': 'Arkansas',
   'state_abbr': 'AR',
   'region_code': 3,
   'state_fips_code': 5},
  {'state_id': 4,
   'state_name': 'American Samoa',
   'state_abbr': 'AS',
   'region_code': 99,
   'state_fips_code': 60},
  {'state_id': 5,
   'state_name': 'Arizona',
   'state_abbr': 'AZ',
   'region_code': 4,
   'state_fips_code': 4},
  {'state_id': 6,
   'state_name': 'California',
   'state_abbr': 'CA',
   'region_code': 4,
   'state_fips_code': 6},
  {'state_id': 7,
   'state_name': 'Colorado',
   'state_abbr': 'CO',
   'region_code': 4,
   'state_fips_code': 8},
  {'state_id': 8,
   'state_name': 'Connecticut',
   'state_abbr': 'CT',
   'region_code': 1,
   'state_fips_code': 9},
  {'state_id': 9,
   'state_name': 'Canal Zone',
   'state_abbr': 'CZ',
   'region_code': 99,
   'state_fips_code': None},
  {'state_id': 10,
   'state_name': 'District of Columbia',
   'state_abbr': 'DC',
   'region_code': 3,
   'state_fips_code': 11},
  {'state_id': 11,
   'state_name': 'Delaware',
   'state_abbr': 'DE',
   'region_code': 3,
   'state_fips_code': 10},
  {'state_id': 12,
   'state_name': 'Florida',
   'state_abbr': 'FL',
   'region_code': 3,
   'state_fips_code': 12},
  {'state_id': 13,
   'state_name': 'Georgia',
   'state_abbr': 'GA',
   'region_code': 3,
   'state_fips_code': 13},
  {'state_id': 15,
   'state_name': 'Hawaii',
   'state_abbr': 'HI',
   'region_code': 4,
   'state_fips_code': 15},
  {'state_id': 16,
   'state_name': 'Iowa',
   'state_abbr': 'IA',
   'region_code': 2,
   'state_fips_code': 19},
  {'state_id': 17,
   'state_name': 'Idaho',
   'state_abbr': 'ID',
   'region_code': 4,
   'state_fips_code': 16},
  {'state_id': 18,
   'state_name': 'Illinois',
   'state_abbr': 'IL',
   'region_code': 2,
   'state_fips_code': 17},
  {'state_id': 19,
   'state_name': 'Indiana',
   'state_abbr': 'IN',
   'region_code': 2,
   'state_fips_code': 18},
  {'state_id': 20,
   'state_name': 'Kansas',
   'state_abbr': 'KS',
   'region_code': 2,
   'state_fips_code': 20},
  {'state_id': 21,
   'state_name': 'Kentucky',
   'state_abbr': 'KY',
   'region_code': 3,
   'state_fips_code': 21},
  {'state_id': 22,
   'state_name': 'Louisiana',
   'state_abbr': 'LA',
   'region_code': 3,
   'state_fips_code': 22},
  {'state_id': 23,
   'state_name': 'Massachusetts',
   'state_abbr': 'MA',
   'region_code': 1,
   'state_fips_code': 25},
  {'state_id': 24,
   'state_name': 'Maryland',
   'state_abbr': 'MD',
   'region_code': 3,
   'state_fips_code': 24},
  {'state_id': 25,
   'state_name': 'Maine',
   'state_abbr': 'ME',
   'region_code': 1,
   'state_fips_code': 23},
  {'state_id': 26,
   'state_name': 'Michigan',
   'state_abbr': 'MI',
   'region_code': 2,
   'state_fips_code': 26},
  {'state_id': 27,
   'state_name': 'Minnesota',
   'state_abbr': 'MN',
   'region_code': 2,
   'state_fips_code': 27},
  {'state_id': 28,
   'state_name': 'Missouri',
   'state_abbr': 'MO',
   'region_code': 2,
   'state_fips_code': 29},
  {'state_id': 29,
   'state_name': 'Mississippi',
   'state_abbr': 'MS',
   'region_code': 3,
   'state_fips_code': 28},
  {'state_id': 30,
   'state_name': 'Montana',
   'state_abbr': 'MT',
   'region_code': 4,
   'state_fips_code': 30},
  {'state_id': 31,
   'state_name': 'Nebraska',
   'state_abbr': 'NE',
   'region_code': 2,
   'state_fips_code': 31},
  {'state_id': 32,
   'state_name': 'North Carolina',
   'state_abbr': 'NC',
   'region_code': 3,
   'state_fips_code': 37},
  {'state_id': 33,
   'state_name': 'North Dakota',
   'state_abbr': 'ND',
   'region_code': 2,
   'state_fips_code': 38},
  {'state_id': 34,
   'state_name': 'New Hampshire',
   'state_abbr': 'NH',
   'region_code': 1,
   'state_fips_code': 33},
  {'state_id': 35,
   'state_name': 'New Jersey',
   'state_abbr': 'NJ',
   'region_code': 1,
   'state_fips_code': 34},
  {'state_id': 36,
   'state_name': 'New Mexico',
   'state_abbr': 'NM',
   'region_code': 4,
   'state_fips_code': 35},
  {'state_id': 37,
   'state_name': 'Nevada',
   'state_abbr': 'NV',
   'region_code': 4,
   'state_fips_code': 32},
  {'state_id': 38,
   'state_name': 'New York',
   'state_abbr': 'NY',
   'region_code': 1,
   'state_fips_code': 36},
  {'state_id': 39,
   'state_name': 'Ohio',
   'state_abbr': 'OH',
   'region_code': 2,
   'state_fips_code': 39},
  {'state_id': 40,
   'state_name': 'Oklahoma',
   'state_abbr': 'OK',
   'region_code': 3,
   'state_fips_code': 40},
  {'state_id': 41,
   'state_name': 'Oregon',
   'state_abbr': 'OR',
   'region_code': 4,
   'state_fips_code': 41},
  {'state_id': 42,
   'state_name': 'Pennsylvania',
   'state_abbr': 'PA',
   'region_code': 1,
   'state_fips_code': 42},
  {'state_id': 43,
   'state_name': 'Puerto Rico',
   'state_abbr': 'PR',
   'region_code': 1,
   'state_fips_code': 72},
  {'state_id': 44,
   'state_name': 'Rhode Island',
   'state_abbr': 'RI',
   'region_code': 1,
   'state_fips_code': 44},
  {'state_id': 45,
   'state_name': 'South Carolina',
   'state_abbr': 'SC',
   'region_code': 3,
   'state_fips_code': 45},
  {'state_id': 46,
   'state_name': 'South Dakota',
   'state_abbr': 'SD',
   'region_code': 2,
   'state_fips_code': 46},
  {'state_id': 47,
   'state_name': 'Tennessee',
   'state_abbr': 'TN',
   'region_code': 3,
   'state_fips_code': 47},
  {'state_id': 48,
   'state_name': 'Texas',
   'state_abbr': 'TX',
   'region_code': 3,
   'state_fips_code': 48},
  {'state_id': 49,
   'state_name': 'Utah',
   'state_abbr': 'UT',
   'region_code': 4,
   'state_fips_code': 49},
  {'state_id': 51,
   'state_name': 'Virginia',
   'state_abbr': 'VA',
   'region_code': 3,
   'state_fips_code': 51},
  {'state_id': 52,
   'state_name': 'Vermont',
   'state_abbr': 'VT',
   'region_code': 1,
   'state_fips_code': 50},
  {'state_id': 53,
   'state_name': 'Washington',
   'state_abbr': 'WA',
   'region_code': 4,
   'state_fips_code': 53},
  {'state_id': 54,
   'state_name': 'Wisconsin',
   'state_abbr': 'WI',
   'region_code': 2,
   'state_fips_code': 55},
  {'state_id': 55,
   'state_name': 'West Virginia',
   'state_abbr': 'WV',
   'region_code': 3,
   'state_fips_code': 54},
  {'state_id': 56,
   'state_name': 'Wyoming',
   'state_abbr': 'WY',
   'region_code': 4,
   'state_fips_code': 56},
  {'state_id': 57,
   'state_name': 'Mariana Islands',
   'state_abbr': 'MP',
   'region_code': 0,
   'state_fips_code': 69},
  {'state_id': 99,
   'state_name': 'Other',
   'state_abbr': 'OT',
   'region_code': 99,
   'state_fips_code': 99},
  {'state_id': 50,
   'state_name': 'US Virgin Islands',
   'state_abbr': 'VI',
   'region_code': 0,
   'state_fips_code': 78},
  {'state_id': 14,
   'state_name': 'Guam',
   'state_abbr': 'GM',
   'region_code': 0,
   'state_fips_code': 66}],
 'pagination': {'count': 58, 'page': 0, 'pages': 1, 'per_page': 100}}

In [5]:
df_codes=pd.json_normalize(r.json(),record_path='results')
df_codes

    state_id            state_name state_abbr  region_code  state_fips_code
0          1                Alaska         AK            4              2.0
1          2               Alabama         AL            3              1.0
2          3              Arkansas         AR            3              5.0
3          4        American Samoa         AS           99             60.0
4          5               Arizona         AZ            4              4.0
5          6            California         CA            4              6.0
6          7              Colorado         CO            4              8.0
7          8           Connecticut         CT            1              9.0
8          9            Canal Zone         CZ           99              NaN
9         10  District of Columbia         DC            3             11.0
10        11              Delaware         DE            3             10.0
11        12               Florida         FL            3             12.0
12        13               Georgia         GA            3             13.0
13        15                Hawaii         HI            4             15.0
14        16                  Iowa         IA            2             19.0
15        17                 Idaho         ID            4             16.0
16        18              Illinois         IL            2             17.0
17        19               Indiana         IN            2             18.0
18        20                Kansas         KS            2             20.0
19        21              Kentucky         KY            3             21.0
20        22             Louisiana         LA            3             22.0
21        23         Massachusetts         MA            1             25.0
22        24              Maryland         MD            3             24.0
23        25                 Maine         ME            1             23.0
24        26              Michigan         MI            2             26.0
25        27             Minnesota         MN            2             27.0
26        28              Missouri         MO            2             29.0
27        29           Mississippi         MS            3             28.0
28        30               Montana         MT            4             30.0
29        31              Nebraska         NE            2             31.0
30        32        North Carolina         NC            3             37.0
31        33          North Dakota         ND            2             38.0
32        34         New Hampshire         NH            1             33.0
33        35            New Jersey         NJ            1             34.0
34        36            New Mexico         NM            4             35.0
35        37                Nevada         NV            4             32.0
36        38              New York         NY            1             36.0
37        39                  Ohio         OH            2             39.0
38        40              Oklahoma         OK            3             40.0
39        41                Oregon         OR            4             41.0
40        42          Pennsylvania         PA            1             42.0
41        43           Puerto Rico         PR            1             72.0
42        44          Rhode Island         RI            1             44.0
43        45        South Carolina         SC            3             45.0
44        46          South Dakota         SD            2             46.0
45        47             Tennessee         TN            3             47.0
46        48                 Texas         TX            3             48.0
47        49                  Utah         UT            4             49.0
48        51              Virginia         VA            3             51.0
49        52               Vermont         VT            1             50.0
50        53            Washington         WA            4             53.0
51        54             Wisconsin         WI            2             55.0
52        55         West Virginia         WV            3             54.0
53        56               Wyoming         WY            4             56.0
54        57       Mariana Islands         MP            0             69.0
55        99                 Other         OT           99             99.0
56        50     US Virgin Islands         VI            0             78.0
57        14                  Guam         GM            0             66.0

In [6]:
# Solo vamos a considerar los 50 estados principales
df_codes = df_codes.drop([3,8,9, 41,54, 55, 56, 57])

In [7]:
codigos_estados = df_codes[['state_abbr']].values

In [8]:
# iterar en cada estado para estraer su dataframe de arrestos por raza del 2018 al 2020
lista_anos = [2020,2019,2018,2017]

try:
    for estado in codigos_estados:
        estado = estado[0]
        os.makedirs(f'Data_fbi_arrestos_2017_2020/{estado}_datos_arrestos_raza')
        dls = f"https://api.usa.gov/crime/fbi/sapi/api/arrest/states/{estado}/all/race/2017/2020?API_KEY={key}"
        resp = requests.get(dls)
        with open(f'Data_fbi_arrestos_2017_2020/{estado}_datos_arrestos_raza/datos_{estado}.json', 'wb') as output:
            output.write(resp.content)
except FileExistsError:
    print('ya existen estos archivos')

ya existen estos archivos

In [9]:
df_estados_razas = dict()

for estado in codigos_estados:
    estado = estado[0]
    with open(f'Data_fbi_arrestos_2017_2020\{estado}_datos_arrestos_raza\datos_{estado}.json', 'r') as file:
        params = json.load(file)
        df_estados_razas[estado] = pd.DataFrame.from_dict(params['data'])

In [10]:
df_estados_razas['CA']

     value  data_year  month_num                               key
0    26504       2017          0                             Asian
1    26954       2018          0                             Asian
2    26003       2019          0                             Asian
3    21181       2020          0                             Asian
4     4246       2017          0                   Native Hawaiian
5     4429       2018          0                   Native Hawaiian
6     4348       2019          0                   Native Hawaiian
7     3434       2020          0                   Native Hawaiian
8   180253       2017          0         Black or African American
9   176483       2018          0         Black or African American
10  168555       2019          0         Black or African American
11  134559       2020          0         Black or African American
12    6170       2017          0  American Indian or Alaska Native
13    5909       2018          0  American Indian or Alaska Native
14    5714       2019          0  American Indian or Alaska Native
15    4544       2020          0  American Indian or Alaska Native
16  881115       2017          0                             White
17  879540       2018          0                             White
18  840139       2019          0                             White
19  684148       2020          0                             White
20       0       2017          0                           Unknown
21       0       2018          0                           Unknown
22       0       2019          0                           Unknown
23       0       2020          0                           Unknown

1. cantidad de arrstos por estado

In [11]:
# cual es el estado con mayor numero de arrestos por raza y por año
df_2020_arrestos_white = pd.DataFrame()
df_2019_arrestos_white = pd.DataFrame()
df_2018_arrestos_white = pd.DataFrame()

df_2020_arrestos_black = pd.DataFrame()
df_2019_arrestos_black = pd.DataFrame()
df_2018_arrestos_black = pd.DataFrame()


for estado in codigos_estados:
    estado = estado[0]
    df_estado = df_estados_razas[estado]
    df_estado['estado'] = estado
    df_2020_arrestos_white = df_2020_arrestos_white.append(df_estado.loc[19], ignore_index= True)
    df_2019_arrestos_white = df_2019_arrestos_white.append(df_estado.loc[18], ignore_index= True)
    df_2018_arrestos_white = df_2018_arrestos_white.append(df_estado.loc[17], ignore_index= True)

    df_2020_arrestos_black = df_2020_arrestos_black.append(df_estado.loc[11], ignore_index= True)
    df_2019_arrestos_black = df_2019_arrestos_black.append(df_estado.loc[10], ignore_index= True)
    df_2018_arrestos_black = df_2018_arrestos_black.append(df_estado.loc[9], ignore_index= True)

In [12]:
# Ordenamos los dataframes para tener un df final con todo lo que necesitemos por año
df_2020_arrestos = pd.DataFrame()

df_2020_arrestos = df_2020_arrestos.append(df_2020_arrestos_white, ignore_index= True )
df_2020_arrestos = df_2020_arrestos.append(df_2020_arrestos_black, ignore_index= True )
df_2020_arrestos = df_2020_arrestos.groupby(['estado'])
value_ = df_2020_arrestos['value'].apply(list)
key_ = df_2020_arrestos['key'].apply(list)
year_ = df_2020_arrestos['data_year'].apply(list)
df_2020_arrestos = pd.merge(value_, key_, on= 'estado')
df_2020_arrestos = pd.merge(df_2020_arrestos, year_, on= 'estado')
df_2020_arrestos['arrestos_w_2020'] = df_2020_arrestos.apply(lambda row: row.value[0], axis=1)
df_2020_arrestos['arrestos_b_2020'] = df_2020_arrestos.apply(lambda row: row.value[1], axis=1)
df_2020_arrestos['arrestos_total_2020'] = df_2020_arrestos.apply(lambda row: row.arrestos_b_2020 + row.arrestos_w_2020, axis=1)



df_2019_arrestos = pd.DataFrame()

df_2019_arrestos = df_2019_arrestos.append(df_2019_arrestos_white, ignore_index= True )
df_2019_arrestos = df_2019_arrestos.append(df_2019_arrestos_black, ignore_index= True )
df_2019_arrestos = df_2019_arrestos.groupby(['estado'])
value_ = df_2019_arrestos['value'].apply(list)
key_ = df_2019_arrestos['key'].apply(list)
year_ = df_2019_arrestos['data_year'].apply(list)
df_2019_arrestos = pd.merge(value_, key_, on= 'estado')
df_2019_arrestos = pd.merge(df_2019_arrestos, year_, on= 'estado')
df_2019_arrestos['arrestos_w_2019'] = df_2019_arrestos.apply(lambda row: row.value[0], axis=1)
df_2019_arrestos['arrestos_b_2019'] = df_2019_arrestos.apply(lambda row: row.value[1], axis=1)
df_2019_arrestos['arrestos_total_2019'] = df_2019_arrestos.apply(lambda row: row.arrestos_b_2019 + row.arrestos_w_2019, axis=1)


df_2018_arrestos = pd.DataFrame()

df_2018_arrestos = df_2018_arrestos.append(df_2018_arrestos_white, ignore_index= True )
df_2018_arrestos = df_2018_arrestos.append(df_2018_arrestos_black, ignore_index= True )
df_2018_arrestos = df_2018_arrestos.groupby(['estado'])
value_ = df_2018_arrestos['value'].apply(list)
key_ = df_2018_arrestos['key'].apply(list)
year_ = df_2018_arrestos['data_year'].apply(list)
df_2018_arrestos = pd.merge(value_, key_, on= 'estado')
df_2018_arrestos = pd.merge(df_2018_arrestos, year_, on= 'estado')
df_2018_arrestos['arrestos_w_2018'] = df_2018_arrestos.apply(lambda row: row.value[0], axis=1)
df_2018_arrestos['arrestos_b_2018'] = df_2018_arrestos.apply(lambda row: row.value[1], axis=1)
df_2018_arrestos['arrestos_total_2018'] = df_2018_arrestos.apply(lambda row: row.arrestos_b_2018 + row.arrestos_w_2018, axis=1)


df_2020_arrestos = df_2020_arrestos.drop(columns=['value','key','data_year'])
df_2019_arrestos = df_2019_arrestos.drop(columns=['value','key','data_year'])
df_2018_arrestos = df_2018_arrestos.drop(columns=['value','key','data_year'])

display(df_2020_arrestos)
display(df_2019_arrestos)
display(df_2018_arrestos)

        arrestos_w_2020  arrestos_b_2020  arrestos_total_2020
estado
AK              12588.0           1979.0              14567.0
AL               2558.0           1552.0               4110.0
AR              64222.0          30766.0              94988.0
AZ             140616.0          27418.0             168034.0
CA             684148.0         134559.0             818707.0
CO             131484.0          19648.0             151132.0
CT              43678.0          22975.0              66653.0
DE              12442.0          11988.0              24430.0
FL                291.0            162.0                453.0
GA              57913.0          56461.0             114374.0
HI               8574.0           1188.0               9762.0
IA              60365.0          16600.0              76965.0
ID              37769.0           1287.0              39056.0
IL               2201.0           3311.0               5512.0
IN              52460.0          26179.0              78639.0
KS              43800.0          11281.0              55081.0
KY             118159.0          21166.0             139325.0
LA              54961.0          74621.0             129582.0
MA              62011.0          15830.0              77841.0
MD               4769.0           7791.0              12560.0
ME              29193.0           2019.0              31212.0
MI              94453.0          60417.0             154870.0
MN              65528.0          30319.0              95847.0
MO              98096.0          44098.0             142194.0
MS              20387.0          24822.0              45209.0
MT              18128.0            721.0              18849.0
NC             107242.0          87013.0             194255.0
ND              20272.0           3248.0              23520.0
NE              26252.0           8612.0              34864.0
NH              32780.0           2084.0              34864.0
NJ              94420.0          70847.0             165267.0
NM              25500.0           2745.0              28245.0
NV              70413.0          34457.0             104870.0
NY             100412.0          50638.0             151050.0
OH              87420.0          46303.0             133723.0
OK              57300.0          19134.0              76434.0
OR              86878.0           7835.0              94713.0
PA               1640.0            576.0               2216.0
RI              14766.0           4640.0              19406.0
SC              76549.0          57265.0             133814.0
SD              17633.0           3002.0              20635.0
TN             188568.0          74210.0             262778.0
TX             370818.0         134962.0             505780.0
UT              66346.0           5281.0              71627.0
VA             118299.0          82053.0             200352.0
VT              10678.0            766.0              11444.0
WA             107254.0          19730.0             126984.0
WI             129117.0          41171.0             170288.0
WV              22075.0           2890.0              24965.0
WY              17386.0            886.0              18272.0

        arrestos_w_2019  arrestos_b_2019  arrestos_total_2019
estado
AK              13256.0           2227.0              15483.0
AL              81471.0          59461.0             140932.0
AR              87872.0          41228.0             129100.0
AZ             171841.0          31555.0             203396.0
CA             840139.0         168555.0            1008694.0
CO             183480.0          26595.0             210075.0
CT              60407.0          30472.0              90879.0
DE              15382.0          14774.0              30156.0
FL                561.0            254.0                815.0
GA              63365.0          65614.0             128979.0
HI              12514.0           1640.0              14154.0
IA              73077.0          20820.0              93897.0
ID              48623.0           1738.0              50361.0
IL               3302.0           4685.0               7987.0
IN              79753.0          35835.0             115588.0
KS              50777.0          12048.0              62825.0
KY             211285.0          46844.0             258129.0
LA              76568.0         103812.0             180380.0
MA              84779.0          22544.0             107323.0
MD              86948.0          95800.0             182748.0
ME              35321.0           2418.0              37739.0
MI             132992.0          73194.0             206186.0
MN              91640.0          41122.0             132762.0
MO             137737.0          58909.0             196646.0
MS              29944.0          39757.0              69701.0
MT              20050.0            840.0              20890.0
NC             122835.0         107768.0             230603.0
ND              22672.0           3814.0              26486.0
NE              48302.0          13633.0              61935.0
NH              42839.0           2468.0              45307.0
NJ             145536.0         109377.0             254913.0
NM              46864.0           3269.0              50133.0
NV              97731.0          45431.0             143162.0
NY             142933.0          72175.0             215108.0
OH             122409.0          66852.0             189261.0
OK              68993.0          21585.0              90578.0
OR             120533.0          11281.0             131814.0
PA             103108.0          36600.0             139708.0
RI              18965.0           5954.0              24919.0
SC              84335.0          66537.0             150872.0
SD              21618.0           3541.0              25159.0
TN             238393.0          98053.0             336446.0
TX             486401.0         176893.0             663294.0
UT              83008.0           6166.0              89174.0
VA             154516.0         113260.0             267776.0
VT              14410.0           1115.0              15525.0
WA             137816.0          25084.0             162900.0
WI             166319.0          52030.0             218349.0
WV              26275.0           3416.0              29691.0
WY              22107.0           1269.0              23376.0

        arrestos_w_2018  arrestos_b_2018  arrestos_total_2018
estado
AK              14981.0           2232.0              17213.0
AL              90214.0          59074.0             149288.0
AR              90029.0          42628.0             132657.0
AZ             188804.0          31954.0             220758.0
CA             879540.0         176483.0            1056023.0
CO             196486.0          27215.0             223701.0
CT              65839.0          30718.0              96557.0
DE              15048.0          13702.0              28750.0
FL                  0.0              0.0                  0.0
GA             126178.0         130449.0             256627.0
HI              12728.0           1647.0              14375.0
IA              66452.0          17839.0              84291.0
ID              52462.0           1691.0              54153.0
IL              25513.0          60553.0              86066.0
IN              91910.0          40042.0             131952.0
KS              33413.0           7025.0              40438.0
KY             212203.0          49911.0             262114.0
LA              83067.0         112130.0             195197.0
MA              87461.0          21882.0             109343.0
MD              87352.0          95356.0             182708.0
ME              37804.0           2446.0              40250.0
MI             148169.0          80348.0             228517.0
MN              95641.0          38692.0             134333.0
MO             141548.0          63462.0             205010.0
MS              28663.0          37127.0              65790.0
MT              21262.0            730.0              21992.0
NC             165364.0         132039.0             297403.0
ND              23393.0           3654.0              27047.0
NE              49746.0          13755.0              63501.0
NH              43472.0           2507.0              45979.0
NJ             154224.0         109237.0             263461.0
NM              57285.0           4162.0              61447.0
NV              95367.0          40429.0             135796.0
NY             166271.0          77964.0             244235.0
OH             136878.0          67362.0             204240.0
OK              72630.0          21427.0              94057.0
OR             120163.0          11358.0             131521.0
PA             241245.0         105116.0             346361.0
RI              19443.0           6176.0              25619.0
SC              94468.0          72346.0             166814.0
SD              21825.0           3125.0              24950.0
TN             249777.0         104949.0             354726.0
TX             564018.0         198385.0             762403.0
UT              89115.0           6186.0              95301.0
VA             158247.0         115594.0             273841.0
VT              13319.0           1050.0              14369.0
WA             138574.0          24337.0             162911.0
WI             176647.0          55884.0             232531.0
WV              29695.0           4293.0              33988.0
WY              22984.0           1161.0              24145.0

In [13]:
# como el estado de Florida (FL) en el año 2018 no tiene datos, lo vamos a dejar fuera de los estados que habiamos considerado
df_2020_arrestos = df_2020_arrestos.drop(['FL'])
df_2019_arrestos = df_2019_arrestos.drop(['FL'])
df_2018_arrestos = df_2018_arrestos.drop(['FL'])

In [14]:
df_arrestos_estados = pd.merge(df_2020_arrestos, df_2019_arrestos, on= 'estado')
df_arrestos_estados = pd.merge(df_arrestos_estados, df_2018_arrestos, on='estado')
df_arrestos_totales_estados = df_arrestos_estados[['arrestos_total_2020', 'arrestos_total_2019','arrestos_total_2018']]
df_arrestos_totales_estados
df_arrestos_estados

,arrestos_w_2020,arrestos_b_2020,arrestos_total_2020,arrestos_w_2019,arrestos_b_2019,arrestos_total_2019,arrestos_w_2018,arrestos_b_2018,arrestos_total_2018
estado,,,,,,,,,
AK,12588.0,1979.0,14567.0,13256.0,2227.0,15483.0,14981.0,2232.0,17213.0
AL,2558.0,1552.0,4110.0,81471.0,59461.0,140932.0,90214.0,59074.0,149288.0
AR,64222.0,30766.0,94988.0,87872.0,41228.0,129100.0,90029.0,42628.0,132657.0
AZ,140616.0,27418.0,168034.0,171841.0,31555.0,203396.0,188804.0,31954.0,220758.0
CA,684148.0,134559.0,818707.0,840139.0,168555.0,1008694.0,879540.0,176483.0,1056023.0
CO,131484.0,19648.0,151132.0,183480.0,26595.0,210075.0,196486.0,27215.0,223701.0
CT,43678.0,22975.0,66653.0,60407.0,30472.0,90879.0,65839.0,30718.0,96557.0
DE,12442.0,11988.0,24430.0,15382.0,14774.0,30156.0,15048.0,13702.0,28750.0
GA,57913.0,56461.0,114374.0,63365.0,65614.0,128979.0,126178.0,130449.0,256627.0
HI,8574.0,1188.0,9762.0,12514.0,1640.0,14154.0,12728.0,1647.0,14375.0
IA,60365.0,16600.0,76965.0,73077.0,20820.0,93897.0,66452.0,17839.0,84291.0
ID,37769.0,1287.0,39056.0,48623.0,1738.0,50361.0,52462.0,1691.0,54153.0
IL,2201.0,3311.0,5512.0,3302.0,4685.0,7987.0,25513.0,60553.0,86066.0
IN,52460.0,26179.0,78639.0,79753.0,35835.0,115588.0,91910.0,40042.0,131952.0
KS,43800.0,11281.0,55081.0,50777.0,12048.0,62825.0,33413.0,7025.0,40438.0
KY,118159.0,21166.0,139325.0,211285.0,46844.0,258129.0,212203.0,49911.0,262114.0
LA,54961.0,74621.0,129582.0,76568.0,103812.0,180380.0,83067.0,112130.0,195197.0
MA,62011.0,15830.0,77841.0,84779.0,22544.0,107323.0,87461.0,21882.0,109343.0
MD,4769.0,7791.0,12560.0,86948.0,95800.0,182748.0,87352.0,95356.0,182708.0
ME,29193.0,2019.0,31212.0,35321.0,2418.0,37739.0,37804.0,2446.0,40250.0
MI,94453.0,60417.0,154870.0,132992.0,73194.0,206186.0,148169.0,80348.0,228517.0
MN,65528.0,30319.0,95847.0,91640.0,41122.0,132762.0,95641.0,38692.0,134333.0
MO,98096.0,44098.0,142194.0,137737.0,58909.0,196646.0,141548.0,63462.0,205010.0
MS,20387.0,24822.0,45209.0,29944.0,39757.0,69701.0,28663.0,37127.0,65790.0
MT,18128.0,721.0,18849.0,20050.0,840.0,20890.0,21262.0,730.0,21992.0
NC,107242.0,87013.0,194255.0,122835.0,107768.0,230603.0,165364.0,132039.0,297403.0
ND,20272.0,3248.0,23520.0,22672.0,3814.0,26486.0,23393.0,3654.0,27047.0
NE,26252.0,8612.0,34864.0,48302.0,13633.0,61935.0,49746.0,13755.0,63501.0
NH,32780.0,2084.0,34864.0,42839.0,2468.0,45307.0,43472.0,2507.0,45979.0
NJ,94420.0,70847.0,165267.0,145536.0,109377.0,254913.0,154224.0,109237.0,263461.0
NM,25500.0,2745.0,28245.0,46864.0,3269.0,50133.0,57285.0,4162.0,61447.0
NV,70413.0,34457.0,104870.0,97731.0,45431.0,143162.0,95367.0,40429.0,135796.0
NY,100412.0,50638.0,151050.0,142933.0,72175.0,215108.0,166271.0,77964.0,244235.0
OH,87420.0,46303.0,133723.0,122409.0,66852.0,189261.0,136878.0,67362.0,204240.0
OK,57300.0,19134.0,76434.0,68993.0,21585.0,90578.0,72630.0,21427.0,94057.0
OR,86878.0,7835.0,94713.0,120533.0,11281.0,131814.0,120163.0,11358.0,131521.0
PA,1640.0,576.0,2216.0,103108.0,36600.0,139708.0,241245.0,105116.0,346361.0
RI,14766.0,4640.0,19406.0,18965.0,5954.0,24919.0,19443.0,6176.0,25619.0
SC,76549.0,57265.0,133814.0,84335.0,66537.0,150872.0,94468.0,72346.0,166814.0
SD,17633.0,3002.0,20635.0,21618.0,3541.0,25159.0,21825.0,3125.0,24950.0
TN,188568.0,74210.0,262778.0,238393.0,98053.0,336446.0,249777.0,104949.0,354726.0
TX,370818.0,134962.0,505780.0,486401.0,176893.0,663294.0,564018.0,198385.0,762403.0
UT,66346.0,5281.0,71627.0,83008.0,6166.0,89174.0,89115.0,6186.0,95301.0
VA,118299.0,82053.0,200352.0,154516.0,113260.0,267776.0,158247.0,115594.0,273841.0
VT,10678.0,766.0,11444.0,14410.0,1115.0,15525.0,13319.0,1050.0,14369.0
WA,107254.0,19730.0,126984.0,137816.0,25084.0,162900.0,138574.0,24337.0,162911.0
WI,129117.0,41171.0,170288.0,166319.0,52030.0,218349.0,176647.0,55884.0,232531.0
WV,22075.0,2890.0,24965.0,26275.0,3416.0,29691.0,29695.0,4293.0,33988.0
WY,17386.0,886.0,18272.0,22107.0,1269.0,23376.0,22984.0,1161.0,24145.0

Ahora extraemos los datos de poblacion los cuales fueron extraidos de forma de descarga ya que solo estaban disponibles de esta forma en:

In [15]:
pobl_2018 = pd.read_csv('data_poblacion\poblacion_2018.csv', sep=',')
pobl_2019 = pd.read_csv('data_poblacion\poblacion_2019.csv', sep=',')
pobl_2020 = pd.read_csv('data_poblacion\poblacion_2020.csv', sep=',')
pobl_2018.head()

,Location,White,Black,Hispanic,Asian,American Indian/Alaska Native,Native Hawaiian/Other Pacific Islander,Multiple Races,Total,Footnotes
0,United States,192117000.0,38655700.0,58483600.0,17844800.0,2082800.0,519500.0,8795000.0,318498500.0,1.0
1,Alabama,3115600.0,1257300.0,204800.0,63800.0,19000.0,NaN,90700.0,4752600.0,NaN
2,Alaska,426100.0,20700.0,50200.0,43200.0,110300.0,7400.0,51100.0,709100.0,NaN
3,Arizona,3815100.0,297000.0,2213600.0,227200.0,271900.0,12000.0,167400.0,7004300.0,NaN
4,Arkansas,2110400.0,436900.0,224900.0,44200.0,17000.0,8200.0,79700.0,2921300.0,NaN

In [16]:
# ahora solo necesitamos la info de la poblacion White, Black, Total
pobl_2018 = pobl_2018[['Location','White', 'Black','Total']]
pobl_2019 = pobl_2019[['Location','White', 'Black','Total']]
pobl_2020 = pobl_2020[['Location','White', 'Black','Total']]
pobl_2020.head()

        Location        White       Black        Total
0  United States  194000000.0  40439900.0  325637800.0
1        Alabama    3201500.0   1308800.0    4885700.0
2         Alaska     399000.0     22600.0     706100.0
3        Arizona    3977400.0    373300.0    7467800.0
4       Arkansas    2126500.0    440200.0    2977500.0

In [17]:
df_poblacion = pd.merge(pobl_2020, pobl_2019, on='Location')
df_poblacion.rename(columns={
    'White_x': 'poblacion_w_2020',
    'Black_x': 'poblacion_b_2020',
    'Total_x': 'total_2020',
    'White_y':'poblacion_w_2019',
    'Black_y':'poblacion_b_2019',
    'Total_y': 'total_2019'}, inplace=True)
df_poblacion = pd.merge(df_poblacion, pobl_2018, on='Location')
df_poblacion.rename(columns={
    'White': 'poblacion_w_2018',
    'Black': 'poblacion_b_2018',
    'Total': 'total_2018',}, inplace=True)
df_poblacion

,Location,poblacion_w_2020,poblacion_b_2020,total_2020,poblacion_w_2019,poblacion_b_2019,total_2019,poblacion_w_2018,poblacion_b_2018,total_2018
0,United States,194000000.0,40439900.0,325637800.0,191757100.0,38872200.0,319249300.0,192117000.0,38655700.0,318498500.0
1,Alabama,3201500.0,1308800.0,4885700.0,3117200.0,1263500.0,4767100.0,3115600.0,1257300.0,4752600.0
2,Alaska,399000.0,22600.0,706100.0,421100.0,15200.0,701700.0,426100.0,20700.0,709100.0
3,Arizona,3977400.0,373300.0,7467800.0,3843700.0,306600.0,7098000.0,3815100.0,297000.0,7004300.0
4,Arkansas,2126500.0,440200.0,2977500.0,2108400.0,444200.0,2922500.0,2110400.0,436900.0,2921300.0
...,...,...,...,...,...,...,...,...,...,...
62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Persons of Hispanic origin may be of any race;...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# ahora le añadimos los codigos de comunas state_name	state_abbr
df_poblacion = pd.merge(df_codes[['state_name', 'state_abbr']], df_poblacion, left_on='state_name', right_on='Location'   )
df_poblacion

,state_name,state_abbr,Location,poblacion_w_2020,poblacion_b_2020,total_2020,poblacion_w_2019,poblacion_b_2019,total_2019,poblacion_w_2018,poblacion_b_2018,total_2018
0,Alaska,AK,Alaska,399000.0,22600.0,706100.0,421100.0,15200.0,701700.0,426100.0,20700.0,709100.0
1,Alabama,AL,Alabama,3201500.0,1308800.0,4885700.0,3117200.0,1263500.0,4767100.0,3115600.0,1257300.0,4752600.0
2,Arkansas,AR,Arkansas,2126500.0,440200.0,2977500.0,2108400.0,444200.0,2922500.0,2110400.0,436900.0,2921300.0
3,Arizona,AZ,Arizona,3977400.0,373300.0,7467800.0,3843700.0,306600.0,7098000.0,3815100.0,297000.0,7004300.0
4,California,CA,California,14335200.0,2125500.0,39128400.0,14047400.0,2066300.0,38642700.0,14206900.0,2074900.0,38745900.0
5,Colorado,CO,Colorado,3927100.0,249300.0,5737200.0,3804100.0,211100.0,5611800.0,3774700.0,212200.0,5555200.0
6,Connecticut,CT,Connecticut,2226300.0,387300.0,3476600.0,2268200.0,346400.0,3453300.0,2298100.0,343000.0,3466300.0
7,Delaware,DE,Delaware,597500.0,207400.0,982000.0,577700.0,205100.0,940300.0,582600.0,199900.0,937700.0
8,Florida,FL,Florida,11167500.0,3319800.0,21659400.0,11119200.0,3150100.0,20992000.0,11101600.0,3141700.0,20843500.0
9,Georgia,GA,Georgia,5280100.0,3287400.0,10544000.0,5354500.0,3225900.0,10294000.0,5358000.0,3158000.0,10212800.0
10,Hawaii,HI,Hawaii,277700.0,19800.0,1373800.0,274400.0,16400.0,1343000.0,278500.0,20400.0,1354800.0
11,Iowa,IA,Iowa,2665500.0,130500.0,3128900.0,2610600.0,119200.0,3060200.0,2614600.0,102300.0,3056800.0
12,Idaho,ID,Idaho,1469100.0,15200.0,1830700.0,1429500.0,11500.0,1750900.0,1407600.0,9300.0,1719600.0
13,Illinois,IL,Illinois,7634800.0,1748100.0,12444000.0,7522700.0,1679900.0,12362300.0,7588300.0,1685200.0,12438400.0
14,Indiana,IN,Indiana,5247000.0,655700.0,6654900.0,5116000.0,600500.0,6511800.0,5121300.0,600600.0,6487100.0
15,Kansas,KS,Kansas,2153300.0,160300.0,2866500.0,2128700.0,153300.0,2811200.0,2137700.0,150700.0,2814700.0
16,Kentucky,KY,Kentucky,3598500.0,370000.0,4407900.0,3648500.0,344900.0,4319300.0,3664300.0,328400.0,4320300.0
17,Louisiana,LA,Louisiana,2605700.0,1463700.0,4547900.0,2643900.0,1433000.0,4498600.0,2658300.0,1429700.0,4519300.0
18,Massachusetts,MA,Massachusetts,4777500.0,527100.0,6827200.0,4687000.0,466200.0,6650800.0,4717100.0,465500.0,6659900.0
19,Maryland,MD,Maryland,2949600.0,1837600.0,5952200.0,2934100.0,1741500.0,5875500.0,2953400.0,1720400.0,5870800.0
20,Maine,ME,Maine,1271800.0,24200.0,1349500.0,1213500.0,17800.0,1302300.0,1213400.0,17400.0,1299500.0
21,Michigan,MI,Michigan,7384600.0,1355200.0,9778200.0,7316400.0,1305100.0,9765600.0,7327100.0,1321900.0,9770000.0
22,Minnesota,MN,Minnesota,4320400.0,376200.0,5556000.0,4361600.0,353700.0,5514800.0,4370100.0,356100.0,5489000.0
23,Missouri,MO,Missouri,4684900.0,693500.0,6047600.0,4715000.0,667100.0,5939900.0,4719400.0,670600.0,5934500.0
24,Mississippi,MS,Mississippi,1686900.0,1104800.0,2935400.0,1622400.0,1078300.0,2867100.0,1633600.0,1084700.0,2879400.0
25,Montana,MT,Montana,975100.0,4500.0,1070000.0,895200.0,5900.0,1039400.0,890100.0,3700.0,1034000.0
26,Nebraska,NE,Nebraska,1497600.0,87100.0,1927900.0,1470900.0,89200.0,1873600.0,1470100.0,82100.0,1868900.0
27,North Carolina,NC,North Carolina,6181900.0,2234300.0,10548700.0,6355400.0,2124200.0,10139700.0,6314100.0,2095600.0,10044400.0
28,North Dakota,ND,North Dakota,621400.0,23200.0,750600.0,614600.0,17900.0,731000.0,613100.0,22200.0,730600.0
29,New Hampshire,NH,New Hampshire,1215300.0,16700.0,1367200.0,1179700.0,17600.0,1314000.0,1181500.0,14600.0,1310300.0
30,New Jersey,NJ,New Jersey,4734100.0,1174700.0,8724800.0,4738500.0,1081400.0,8699400.0,4776900.0,1100300.0,8728300.0
31,New Mexico,NM,New Mexico,832500.0,40500.0,2053200.0,750000.0,35000.0,2041400.0,754700.0,37100.0,2045300.0
32,Nevada,NV,Nevada,1589300.0,287100.0,3150500.0,1448800.0,279000.0,3029700.0,1447500.0,258700.0,2983400.0
33,New York,NY,New York,10553000.0,2575600.0,18878600.0,10432200.0,2651600.0,18908300.0,10508500.0,2684400.0,19016900.0
34,Ohio,OH,Ohio,9036700.0,1446400.0,11618000.0,8918300.0,1380000.0,11351500.0,8947700.0,1376200.0,11355900.0
35,Oklahoma,OK,Oklahoma,2393600.0,268300.0,3899700.0,2488200.0,262800.0,3826900.0,2492200.0,267700.0,3816100.0
36,Oregon,OR,Oregon,3147000.0,79000.0,4123800.0,3097700.0,72900.0,4128900.0,3091900.0,74300.0,4110800.0
37,Pennsylvania,PA,Pennsylvania,9524100.0,1359200.0,12473000.0,9401500.0,1282000.0,12377600.0,9447800.0,1274800.0,12388100.0
38,Rhode Island,RI,Rhode Island,795300.0,69300.0,1055400.0,717300.0,60300.0,1017100.0,725400.0,57000.0,1014000.0
39,South Carolina,SC,South Carolina,3222500.0,1315200.0,5174900.0,3177000.0,1307200.0,4984200.0,3146900.0,1298200.0,4929800.0
40,South Dakota,SD,South Dakota,721200.0,19500.0,878600.0,697500.0,18800.0,851300.0,692900.0,18500.0,848700.0
41,Tennessee,TN,Tennessee,4931600.0,1119500.0,6893300.0,4884500.0,1088500.0,6640900.0,4860100.0,1087600.0,6586400.0
42,Texas,TX,Texas,11988600.0,3514400.0,29078600.0,11637100.0,3297200.0,28286200.0,11607500.0,3251900.0,28024000.0
43,Utah,UT,Utah,2618100.0,32600.0,3231600.0,2452300.0,32600.0,3154100.0,2421400.0,35800.0,3105900.0
44,Virginia,VA,Virginia,5235700.0,1581100.0,8447200.0,5017100.0,1543100.0,8185100.0,5034100.0,1519400.0,8182100.0
45,Vermont,VT,Vermont,580600.0,8400.0,619000.0,555100.0,6700.0,598100.0,557900.0,6600.0,600600.0
46,Washington,WA,Washington,4847600.0,310100.0,7596300.0,5013200.0,282700.0,7423900.0,5006200.0,268700.0,7368000.0
47,Wisconsin,WI,Wisconsin,4696800.0,293500.0,5784800.0,4602500.0,349200.0,5677100.0,4598500.0,349400.0,5662800.0
48,West Virginia,WV,West Virginia,1577300.0,58800.0,1744800.0,1609000.0,55900.0,1739000.0,1620000.0,63300.0,1752300.0
49,Wyoming,WY,Wyoming,459800.0,6200.0,565300.0,471600.0,5400.0,562700.0,471600.0,2700.0,560300.0

In [19]:
states = gpd.read_file('cb_2018_us_state_20m\cb_2018_us_state_20m.shp')[['STUSPS' ,'geometry']]
states
df_final = pd.merge(df_arrestos_estados, df_poblacion, left_on='estado', right_on='state_abbr').set_index('state_abbr')
df_final = pd.merge(df_final, states, left_on='state_abbr', right_on='STUSPS').drop(columns=['Location', 'state_name']).set_index('STUSPS')
df_final.head()

,arrestos_w_2020,arrestos_b_2020,arrestos_total_2020,arrestos_w_2019,arrestos_b_2019,arrestos_total_2019,arrestos_w_2018,arrestos_b_2018,arrestos_total_2018,poblacion_w_2020,poblacion_b_2020,total_2020,poblacion_w_2019,poblacion_b_2019,total_2019,poblacion_w_2018,poblacion_b_2018,total_2018,geometry
STUSPS,,,,,,,,,,,,,,,,,,,
AK,12588.0,1979.0,14567.0,13256.0,2227.0,15483.0,14981.0,2232.0,17213.0,399000.0,22600.0,706100.0,421100.0,15200.0,701700.0,426100.0,20700.0,709100.0,"MULTIPOLYGON (((179.48132 51.97530, 179.58286 ..."
AL,2558.0,1552.0,4110.0,81471.0,59461.0,140932.0,90214.0,59074.0,149288.0,3201500.0,1308800.0,4885700.0,3117200.0,1263500.0,4767100.0,3115600.0,1257300.0,4752600.0,"POLYGON ((-88.46866 31.89386, -88.46866 31.933..."
AR,64222.0,30766.0,94988.0,87872.0,41228.0,129100.0,90029.0,42628.0,132657.0,2126500.0,440200.0,2977500.0,2108400.0,444200.0,2922500.0,2110400.0,436900.0,2921300.0,"POLYGON ((-94.61792 36.49941, -94.36120 36.499..."
AZ,140616.0,27418.0,168034.0,171841.0,31555.0,203396.0,188804.0,31954.0,220758.0,3977400.0,373300.0,7467800.0,3843700.0,306600.0,7098000.0,3815100.0,297000.0,7004300.0,"POLYGON ((-114.79968 32.59362, -114.80939 32.6..."
CA,684148.0,134559.0,818707.0,840139.0,168555.0,1008694.0,879540.0,176483.0,1056023.0,14335200.0,2125500.0,39128400.0,14047400.0,2066300.0,38642700.0,14206900.0,2074900.0,38745900.0,"MULTIPOLYGON (((-118.59397 33.46720, -118.4847..."

# Preguntas: #
*1. ¿Cuáles son los estados con más y menos arrestos de gente blanca y afroamericana, en conjunto y por raza? (promedio entre 2018 y 2020)?*

In [23]:
# Para responder esta pregunta usaremos los datos de arrestos por razas de los 50 estados que estamos trabajando 
# entre 2018 y 2020

df_arrestos_totales_estados.head()

        arrestos_total_2020  arrestos_total_2019  arrestos_total_2018
estado
AK                  14567.0              15483.0              17213.0
AL                   4110.0             140932.0             149288.0
AR                  94988.0             129100.0             132657.0
AZ                 168034.0             203396.0             220758.0
CA                 818707.0            1008694.0            1056023.0

In [24]:
# Primero extraeremos el top estados de arrestos en total, para eso creamos una columna con el promedio de las columnas 
df_pregunta_1_a = df_arrestos_totales_estados.copy()
df_pregunta_1_a['promedio_total'] = df_arrestos_totales_estados.apply(lambda row: (row.arrestos_total_2020 + row.arrestos_total_2019 + row.arrestos_total_2018) / 3, axis=1)
df_pregunta_1_a[['promedio_total']].sort_values(by=['promedio_total'])

        promedio_total
estado
HI        12763.666667
VT        13779.333333
AK        15754.333333
MT        20577.000000
WY        21931.000000
RI        23314.666667
SD        23581.333333
ND        25684.333333
DE        27778.666667
WV        29548.000000
IL        33188.333333
ME        36400.333333
NH        42050.000000
NM        46608.333333
ID        47856.666667
KS        52781.333333
NE        53433.333333
MS        60233.333333
CT        84696.333333
IA        85051.000000
UT        85367.333333
OK        87023.000000
AL        98110.000000
MA        98169.000000
IN       108726.333333
AR       118915.000000
OR       119349.333333
MN       120980.666667
MD       126005.333333
NV       127942.666667
SC       150500.000000
WA       150931.666667
PA       162761.666667
GA       166660.000000
LA       168386.333333
OH       175741.333333
MO       181283.333333
CO       194969.333333
MI       196524.333333
AZ       197396.000000
NY       203464.333333
WI       207056.000000
KY       219856.000000
NJ       227880.333333
NC       240753.666667
VA       247323.000000
TN       317983.333333
TX       643825.666667
CA       961141.333333

*Asi entonces podemos concluir que los estados con menor numero de arrestos totales promedio entre gente blanca y de color en los ultimos 3 años son:*
1. Hawaii (HI) - 12763.66666
2. Vermont (VT) - 13779.333333
3. Alaska (AK) - 15754.333333

*Y los estados con mayor numero de arrestos totales promedio entre gente blanca y de color en los ultimos 3 años son:*

1. California (CA) - 961141.333333
2. Texas (TX) - 643825.666667
3. Tennessee (TN) - 317983.333333

*Ahora vamos a sacar el top de la gente blanca*

In [25]:
# Primero extraeremos el top estados de arrestos por raza, para eso creamos una columna con el promedio de las otras columnas 
df_pregunta_1_b = df_arrestos_estados.copy()[['arrestos_w_2020', 'arrestos_w_2019' , 'arrestos_w_2018']]
df_pregunta_1_b
df_pregunta_1_b['promedio_total_blanca'] = df_pregunta_1_b.apply(lambda row: (row.arrestos_w_2020 + row.arrestos_w_2019 + row.arrestos_w_2018) / 3, axis=1)
df_pregunta_1_b[['promedio_total_blanca']].sort_values(by=['promedio_total_blanca'])

        promedio_total_blanca
estado
IL               10338.666667
HI               11272.000000
VT               12802.333333
AK               13608.333333
DE               14290.666667
RI               17724.666667
MT               19813.333333
SD               20358.666667
WY               20825.666667
ND               22112.333333
WV               26015.000000
MS               26331.333333
ME               34106.000000
NH               39697.000000
NE               41433.333333
KS               42663.333333
NM               43216.333333
ID               46284.666667
CT               56641.333333
AL               58081.000000
MD               59689.666667
OK               66307.666667
IA               66631.333333
LA               71532.000000
IN               74707.666667
MA               78083.666667
UT               79489.666667
AR               80707.666667
GA               82485.333333
MN               84269.666667
SC               85117.333333
NV               87837.000000
OR              109191.333333
PA              115331.000000
OH              115569.000000
MI              125204.666667
MO              125793.666667
WA              127881.333333
NJ              131393.333333
NC              131813.666667
NY              136538.666667
VA              143687.333333
WI              157361.000000
AZ              167087.000000
CO              170483.333333
KY              180549.000000
TN              225579.333333
TX              473745.666667
CA              801275.666667

*Asi entonces podemos concluir que los estados con menor numero de arrestos totales promedio entre gente blanca en los ultimos 3 años son:*
1. Illinois(IL) - 10338.666667
2. Hawaii (HI) - 11272.000000
3. Vermont (VT) - 12802.33333

*Y los estados con mayor numero de arrestos totales promedio entre gente blanca en los ultimos 3 años son:*

1. California (CA) - 801275.666667
2. Texas (TX) - 643825.666667
3. Tennessee (TN) - 317983.333333

*Ahora vamos a sacar el top de la gente blanca*

In [26]:
# Primero extraeremos el top estados de arrestos por raza, para eso creamos una columna con el promedio de las otras columnas 
df_pregunta_1_c = df_arrestos_estados.copy()[['arrestos_b_2020', 'arrestos_b_2019' , 'arrestos_b_2018']]
df_pregunta_1_c
df_pregunta_1_c['promedio_total_negra'] = df_pregunta_1_c.apply(lambda row: (row.arrestos_b_2020 + row.arrestos_b_2019 + row.arrestos_b_2018) / 3, axis=1)
df_pregunta_1_c[['promedio_total_negra']].sort_values(by=['promedio_total_negra'])

        promedio_total_negra
estado
MT                763.666667
VT                977.000000
WY               1105.333333
HI               1491.666667
ID               1572.000000
AK               2146.000000
ME               2294.333333
NH               2353.000000
SD               3222.666667
NM               3392.000000
WV               3533.000000
ND               3572.000000
RI               5590.000000
UT               5877.666667
KS              10118.000000
OR              10158.000000
NE              12000.000000
DE              13488.000000
IA              18419.666667
MA              20085.333333
OK              20715.333333
IL              22849.666667
WA              23050.333333
CO              24486.000000
CT              28055.000000
AZ              30309.000000
MS              33902.000000
IN              34018.666667
MN              36711.000000
AR              38207.333333
KY              39307.000000
AL              40029.000000
NV              40105.666667
PA              47430.666667
WI              49695.000000
MO              55489.666667
OH              60172.333333
SC              65382.666667
MD              66315.666667
NY              66925.666667
MI              71319.666667
GA              84174.666667
TN              92404.000000
NJ              96487.000000
LA              96854.333333
VA             103635.666667
NC             108940.000000
CA             159865.666667
TX             170080.000000

*Asi entonces podemos concluir que los estados con menor numero de arrestos totales promedio entre gente negra en los ultimos 3 años son:*
1. Montana (MT) - 763.666667
2. Vermont (VT) - 977.000000
3. Wyoming (WY) - 1105.333333

*Y los estados con mayor numero de arrestos totales promedio entre gente negra en los ultimos 3 años son:*

1. Texas (TX) - 170080.000000
2. California (CA) - 159865.666667
3. North Carolina (NC) - 108940.000000

# Pregunta 2
*¿Cuáles son los estados con el mayor y menor numero de gente negra? (promedio entre 2018 y 2020)*

In [27]:
pregunta_2 = df_final[['poblacion_b_2020', 'poblacion_b_2019','poblacion_b_2018']]
pregunta_2

        poblacion_b_2020  poblacion_b_2019  poblacion_b_2018
STUSPS
AK               22600.0           15200.0           20700.0
AL             1308800.0         1263500.0         1257300.0
AR              440200.0          444200.0          436900.0
AZ              373300.0          306600.0          297000.0
CA             2125500.0         2066300.0         2074900.0
CO              249300.0          211100.0          212200.0
CT              387300.0          346400.0          343000.0
DE              207400.0          205100.0          199900.0
GA             3287400.0         3225900.0         3158000.0
HI               19800.0           16400.0           20400.0
IA              130500.0          119200.0          102300.0
ID               15200.0           11500.0            9300.0
IL             1748100.0         1679900.0         1685200.0
IN              655700.0          600500.0          600600.0
KS              160300.0          153300.0          150700.0
KY              370000.0          344900.0          328400.0
LA             1463700.0         1433000.0         1429700.0
MA              527100.0          466200.0          465500.0
MD             1837600.0         1741500.0         1720400.0
ME               24200.0           17800.0           17400.0
MI             1355200.0         1305100.0         1321900.0
MN              376200.0          353700.0          356100.0
MO              693500.0          667100.0          670600.0
MS             1104800.0         1078300.0         1084700.0
MT                4500.0            5900.0            3700.0
NC             2234300.0         2124200.0         2095600.0
ND               23200.0           17900.0           22200.0
NE               87100.0           89200.0           82100.0
NH               16700.0           17600.0           14600.0
NJ             1174700.0         1081400.0         1100300.0
NM               40500.0           35000.0           37100.0
NV              287100.0          279000.0          258700.0
NY             2575600.0         2651600.0         2684400.0
OH             1446400.0         1380000.0         1376200.0
OK              268300.0          262800.0          267700.0
OR               79000.0           72900.0           74300.0
PA             1359200.0         1282000.0         1274800.0
RI               69300.0           60300.0           57000.0
SC             1315200.0         1307200.0         1298200.0
SD               19500.0           18800.0           18500.0
TN             1119500.0         1088500.0         1087600.0
TX             3514400.0         3297200.0         3251900.0
UT               32600.0           32600.0           35800.0
VA             1581100.0         1543100.0         1519400.0
VT                8400.0            6700.0            6600.0
WA              310100.0          282700.0          268700.0
WI              293500.0          349200.0          349400.0
WV               58800.0           55900.0           63300.0
WY                6200.0            5400.0            2700.0

In [28]:
pregunta_2['promedio_total_negra'] = pregunta_2.apply(lambda row: (row.poblacion_b_2020	 + row.poblacion_b_2019	 + row.poblacion_b_2018) // 3, axis=1)
pregunta_2 = pregunta_2[['promedio_total_negra']]
pregunta_2 = pregunta_2.sort_values(by=['promedio_total_negra'])
pregunta_2

        promedio_total_negra
STUSPS
MT                    4700.0
WY                    4766.0
VT                    7233.0
ID                   12000.0
NH                   16300.0
HI                   18866.0
SD                   18933.0
AK                   19500.0
ME                   19800.0
ND                   21100.0
UT                   33666.0
NM                   37533.0
WV                   59333.0
RI                   62200.0
OR                   75400.0
NE                   86133.0
IA                  117333.0
KS                  154766.0
DE                  204133.0
CO                  224200.0
OK                  266266.0
NV                  274933.0
WA                  287166.0
AZ                  325633.0
WI                  330700.0
KY                  347766.0
CT                  358900.0
MN                  362000.0
AR                  440433.0
MA                  486266.0
IN                  618933.0
MO                  677066.0
MS                 1089266.0
TN                 1098533.0
NJ                 1118800.0
AL                 1276533.0
PA                 1305333.0
SC                 1306866.0
MI                 1327400.0
OH                 1400866.0
LA                 1442133.0
VA                 1547866.0
IL                 1704400.0
MD                 1766500.0
CA                 2088900.0
NC                 2151366.0
NY                 2637200.0
GA                 3223766.0
TX                 3354500.0

*Asi entonces podemos concluir que los estados con menor numero promedio de gente negra en los ultimos 3 años son:*

1. Montana(MT) - 4700.0
2. Wyoming(WY) - 4766.0
3. Vermont(VT) - 7233.0

*Y los estados con mayor numero promedio de personas negras en los ultimos 3 años son:*

1. Texas(TX) -3354500.0
2. Georgia(GA) -3223766.0
3. New York(NY) -2637200.0

# Pregunta 3
¿Se han mostrado cambios significativos en la cantidad de arrestos por estado
entre el 2018 y el 2020?

Nota, los estados tienen sus iniciales respectivas:

Alabama: AL

Alaska: AK

Arizona: AZ

Arkanzas: AR

California: CA

Colorado: CO

Connecticut: CT

Delaware: DE

Distrito de Columbia: DC

Florida: FL

Georgia: GA

Hawaii: HI 

Idaho: ID

Illinois: IL

Idiana: IN

Iowa: IA

Kansas: KS

Kentucky: KY

Louisiana: LA

Maine: ME

Maryland:MD

Massachusetts: MA

Michigan: MI

Mississipi: MS

Missouri: MO

Montana: MT

Nebraska: NE

Nevada: NV

New Hampshire: NH

New Jersey: NJ

New York: NY

North Carolina: NC

North Dakota: ND

Ohaio: OH

Oregon: OR

Pennsylvania: PA

Rhode Island: RI 

South Carolina: SC

South Dakota: SD

Tennessee: TN

Texas: TX

Utah: UT

Vermont: VT

Virginia: VA

Washington: WA

West Virginia: WV

Wisconsin: WI

Wyoming: WY

In [51]:
p3_2018 = df_arrestos_totales_estados['arrestos_total_2018']
p3_2019 = df_arrestos_totales_estados['arrestos_total_2019']
p3_2020 = df_arrestos_totales_estados['arrestos_total_2020']
diferencia_18_19 = round(100-((p3_2019*100)/p3_2018))
print('Porcentaje de diferencia por estado:')
diferencia_18_19

Porcentaje de diferencia por estado:

estado
AK    10.0
AL     6.0
AR     3.0
AZ     8.0
CA     4.0
CO     6.0
CT     6.0
DE    -5.0
GA    50.0
HI     2.0
IA   -11.0
ID     7.0
IL    91.0
IN    12.0
KS   -55.0
KY     2.0
LA     8.0
MA     2.0
MD    -0.0
ME     6.0
MI    10.0
MN     1.0
MO     4.0
MS    -6.0
MT     5.0
NC    22.0
ND     2.0
NE     2.0
NH     1.0
NJ     3.0
NM    18.0
NV    -5.0
NY    12.0
OH     7.0
OK     4.0
OR    -0.0
PA    60.0
RI     3.0
SC    10.0
SD    -1.0
TN     5.0
TX    13.0
UT     6.0
VA     2.0
VT    -8.0
WA     0.0
WI     6.0
WV    13.0
WY     3.0
dtype: float64

In [55]:
print('Los tres estados que disminuyeron sus arrestos entre 2018-2019 considerablemente:')
diferencia_18_19.sort_values().head(3)

Los tres estados que disminuyeron sus arrestos entre 2018-2019 considerablemente:

estado
KS   -55.0
IA   -11.0
VT    -8.0
dtype: float64

In [56]:
print('Los tres estados que aumentaron sus arrestos entre 2018-2019 considerablemente:')
diferencia_18_19.sort_values().tail(3)

Los tres estados que aumentaron sus arrestos entre 2018-2019 considerablemente:

estado
GA    50.0
PA    60.0
IL    91.0
dtype: float64

In [58]:
diferencia_19_20 = round(100-((p3_2020*100)/p3_2019))
print('Porcentaje de diferencia por estado:')
diferencia_19_20

Porcentaje de diferencia por estado:

estado
AK     6.0
AL    97.0
AR    26.0
AZ    17.0
CA    19.0
CO    28.0
CT    27.0
DE    19.0
GA    11.0
HI    31.0
IA    18.0
ID    22.0
IL    31.0
IN    32.0
KS    12.0
KY    46.0
LA    28.0
MA    27.0
MD    93.0
ME    17.0
MI    25.0
MN    28.0
MO    28.0
MS    35.0
MT    10.0
NC    16.0
ND    11.0
NE    44.0
NH    23.0
NJ    35.0
NM    44.0
NV    27.0
NY    30.0
OH    29.0
OK    16.0
OR    28.0
PA    98.0
RI    22.0
SC    11.0
SD    18.0
TN    22.0
TX    24.0
UT    20.0
VA    25.0
VT    26.0
WA    22.0
WI    22.0
WV    16.0
WY    22.0
dtype: float64

In [61]:
print('Los tres estados que aumentaron sus arrestos entre 2018-2019 menos de todos:')
diferencia_19_20.sort_values().head(3)

Los tres estados que aumentaron sus arrestos entre 2018-2019 menos de todos:

estado
AK     6.0
MT    10.0
ND    11.0
dtype: float64

In [63]:
print('Los tres estados que aumentaron sus arrestos entre 2018-2019 considerablemente:')
diferencia_19_20.sort_values().tail(3)

Los tres estados que aumentaron sus arrestos entre 2018-2019 considerablemente:

estado
MD    93.0
AL    97.0
PA    98.0
dtype: float64

*Resumir datos*