# Relación entre arrestos depersonas de distintas razas y la cantidad de arrestos por estado en EEUU, entre 2018 y 2020.

0. trabajo datos

In [16]:
import pandas as pd

In [15]:
# https://www.fbi.gov/services/cjis/ucr/publications : Dataframe (18, 19) * las del 2020 esta solo el dataframe por raza
# 29 Numero de arrestos por ofensa
# 43- 49 - 55 - 61 - 67 numero de arrestos por raza
# 69 numero de arrestos por estado sobre/bajo 18 años

import requests
import os
lista_anos = [2019,2018,2017]
lista_numeros_tablas = [29, '55a' ,69]

for ano in lista_anos:
    os.makedirs(f'Data_fbi_ucr/{ano}_datos')
    for num_tabla in lista_numeros_tablas:
        dls = f"https://ucr.fbi.gov/crime-in-the-u.s/{ano}/crime-in-the-u.s.-{ano}/tables/table-{num_tabla if num_tabla != '55a' else 55}/table-{num_tabla}.xls/output.xls"
        resp = requests.get(dls)
        
        with open(f'Data_fbi_ucr/{ano}_datos/tabla_{num_tabla}.xls', 'wb') as output:
            output.write(resp.content)

In [38]:
tabla_55a_2019 =  pd.read_excel('Data_fbi_ucr/2019_datos/tabla_55a.xls')
tabla_55a_2019 = tabla_55a_2019.rename(columns=tabla_55a_2019.iloc[6]).iloc[7:].reset_index().drop(columns=['index'])
tabla_55a_2019.head()

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total,Hispanic\nor\nLatino,Not\nHispanic\nor Latino
0,TOTAL,1360157,975178,350940,11505,17866,4668,100,71.7,25.8,0.8,1.3,0.3,1165073,217727,947346,100,18.7,81.3
1,Murder and nonnegligent manslaughter,1687,966,686,14,11,10,100,57.3,40.7,0.8,0.7,0.6,1264,303,961,100,24,76
2,Rape3,3387,2571,736,14,50,16,100,75.9,21.7,0.4,1.5,0.5,2880,766,2114,100,26.6,73.4
3,Robbery,7898,3512,4240,32,79,35,100,44.5,53.7,0.4,1,0.4,6985,1366,5619,100,19.6,80.4
4,Aggravated assault,48642,33696,13657,392,729,168,100,69.3,28.1,0.8,1.5,0.3,42154,9417,32737,100,22.3,77.7

In [39]:
tabla_55a_2018 =  pd.read_excel('Data_fbi_ucr/2018_datos/tabla_55a.xls')
tabla_55a_2018 = tabla_55a_2018.rename(columns=tabla_55a_2018.iloc[6]).iloc[7:].reset_index().drop(columns=['index'])
tabla_55a_2018.head()

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total,Hispanic\nor\nLatino,Not\nHispanic\nor Latino
0,TOTAL,1524774,1086539,400923,14369,18412,4531,100,71.3,26.3,0.9,1.2,0.3,1239300,220086,1019214,100,17.8,82.2
1,Murder and nonnegligent manslaughter,1755,952,780,6,14,3,100,54.2,44.4,0.3,0.8,0.2,1356,301,1055,100,22.2,77.8
2,Rape3,3710,2835,805,17,36,17,100,76.4,21.7,0.5,1,0.5,2978,731,2247,100,24.5,75.5
3,Robbery,9408,4226,5046,45,65,26,100,44.9,53.6,0.5,0.7,0.3,7898,1464,6434,100,18.5,81.5
4,Aggravated assault,56315,38833,16099,489,722,172,100,69,28.6,0.9,1.3,0.3,46236,10184,36052,100,22,78

In [ ]:
# usar api fbi
# codigo de todas los estados : https://api.usa.gov/crime/fbi/sapi/api/states?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv
# arrestos en la region por raza: https://api.usa.gov/crime/fbi/sapi/api/arrest/states/CA/all/race/2020/2020?API_KEY=iiHnOKfno2Mgkt5AynpvPpUQTEyxE77jo1RU8PIv

1. cantidad de arrstos por estado

2. distribucion de arrestos por raza en todo eeuu

3. razas por estado

5. conclusiones